div {
    color: coral;
    background-color: cadetblue;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

button {
    color: pink;
    background-color: gold;
    font-size: xx-large;
    font-family: Arial black;
}